* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--accent-color: orangered;
	--black-color: black;
	--bg-color: #111;
	--secondary-bg-color: #191919;
	--card-color: #333;
	--text-color: white;
	--secondary-text-color: #888;
	--error-color: yellow;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: system-ui, sans-serif;
	line-height: 1.4;
	padding-bottom: 2rem;
}

button {
	font: inherit;
	border: none;
	cursor: pointer;
	background: var(--accent-color);
	color: var(--text-color);
	padding: 0.2rem 0.6rem;
	font-weight: 500;
	border-radius: 3px;
}

button:disabled {
	cursor: initial;
	opacity: 0.25;
}

button:active {
	transform: scale(0.975);
}

button:focus-visible {
	outline: 2px solid var(--text-color);
	outline-offset: 2px;
}

h2 {
	font-weight: 500;
}

input[type='text'] {
	font: inherit;
	color: inherit;
	border: none;
	background: var(--black-color);
	border-radius: 0.2rem;
	padding: 0.4rem;
	width: 100%;
}

input[type='text']:focus-visible {
	outline: 2px solid var(--accent-color);
}

.error {
	color: var(--error-color);
}

input[type='checkbox'] {
	accent-color: var(--accent-color);
}

input[type='checkbox']:focus-visible {
	outline: 2px solid var(--text-color);
	outline-offset: 2px;
}
